@model glamping_addventure3.Models.Abono

    <div>
        <h5>@Model.FechaAbono</h5>
      <img src="@ViewData["ImageDataURL"]" alt="Comprobante del abono" class="img-fluid" style="max-width: 100%; height: auto;" />
    </div>
    <div>
        <p><strong>id reserva:</strong> @Model.IdreservaNavigation?.IdReserva</p>
        <p><strong>ValorDeuda:</strong> @Model.ValorDeuda</p>
        <p><strong>Porcentaje:</strong> @Model.Porcentaje</p>
        <p><strong>Porcentaje:</strong> @Model.Porcentaje</p>
        <p><strong>Cantidad abonada:</strong> @Model.CantAbono</p>

        <p><strong>Estado:</strong> @(Model.Estado ? "habilitado" : "anulado")</p>
    </div>
  
    <style>
        h5{
            text-align: center;
        }
        body{
            text-align: center;
        }
        li,ul{
            list-style-type:none;
        }
    </style>

