﻿<div>
    <h4>@Model.NombreServicio</h4>
</div>
<div>
    <h5>Detalles:</h5>
    <p><strong>Descripción:</strong> @Model.Descripcion</p>
    <p><strong>Duracion:</strong> @Model.Duracion</p>
    <p><strong>Cantidad Maxima de Personas:</strong> @Model.CantidadMaximaPersonas</p>
    <p><strong>Costo:</strong> @Model.Costo:C</p>
    <p><strong>Estado:</strong> @(Model.Estado ? "Activo" : "Inactivo")</p>
</div>
<style>
    h5 {
        text-align: center;
    }

    body {
        text-align: center;
    }

    li, ul {
        list-style-type: none;
    }
</style>