<div>
    <p><strong>Documento del Cliente:</strong> @Model.NroDocumento</p>
    <p><strong>Nombre del Cliente:</strong> @Model.Nombre</p>
    <p><strong>Apellido del Cliente:</strong> @Model.Apellido</p>
    <p><strong>Direccion del Cliente:</strong> @Model.Direccion</p>
    <p><strong>Correo del Cliente:</strong> @Model.Email</p>
    <p><strong>Telefono del Cliente:</strong> @Model.Telefono</p>
</div>
<style>
    h5 {
        text-align: center;
    }

    body {
        text-align: center;
    }

    li, ul {
        list-style-type: none;
    }
</style>