@model IEnumerable<glamping_addventure3.Models.Permiso>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePermisos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoPermisos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePermisos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoPermisos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idpermiso">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idpermiso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idpermiso">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
